
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('../images/background 1.jpg');
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#TRHGS {
    align-items: left;
    font-size: 60px;
    color: white;
    text-align: center;
}

#TL {
    align-items: left;
    font-size: 30px;
    color: white;
    text-align: center;
}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: white;
}

nav {
    text-align: center;
}

form#searchForm.search-section {
    justify-content: center;
}

.search-section {
    margin: 20px 0;
    display: flex;
}

.search-section input {
    padding: 8px;
    width: 250px;
}

.search-section button {
    padding: 8px 12px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#results img {
    justify-content: space-evenly;
}