
body {
    font-family: DM Mono, monospace;
    margin: 15px;
    padding: 40px;
    border: 15px;
    background-image: url('../images/background 1.jpg');
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h1#TRHGS {
    align-items: left;
    font-size: 45px;
    color: white;
    text-align: center;
    background-color: rgb(206, 64, 87, 0.8);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h2#TL {
    font-size: 25px;
    color: white;
    text-align: center;
    background-clip: content-box;
    background-color: rgb(206, 64, 87, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: white;
    
  
}

a {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    text-align: center;
    background-color: rgba(187, 24, 246, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 210px;
    margin-right: 210px;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.5);
    border: solid 1px;
}

form#searchForm.search-section {
    justify-content: center;
    margin-top: 50px;
}

.search-section {
    margin: 20px 0;
    display: flex;
}

.search-section input {
    padding: 8px;
    width: 250px;
    font-family: DM Mono, monospace;
}

.search-section button {
    padding: 8px 12px;
    font-family: DM Mono, monospace;
    background-color: rgb(187, 24, 246, 0.8);
    border-color: rgba(255, 255, 255, 0.5);
    border: solid 1px;
    color: white;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#results img {
    justify-content: space-evenly;
}

div#results {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    column-gap: space-evenly;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(206, 64, 87, 0.8);
    background-size: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-style: italic;
    margin-top: 50px;
}

h3#h3p {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

div#suggested-searches-section {
    display: flex;
    justify-content: center

}

table {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
    color: white;
    text-align: center;
    justify-content: space-evenly;
    border: 1px;
    border-spacing: 5px;
    border-collapse: separate;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

table, th, td {
    background-color: rgb(206, 64, 87, 0.8);
    width: auto;
    height: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

th {
    font-weight: bold;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

}

th, td {
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}



h2#h2table{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgb(206, 64, 87, 0.8);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: -10px;
    margin-top: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#gif-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 600px;
  margin: auto;
}

.gif {
  width: 100%;
  height: 200px;
  object-fit: cover;
}