
body {
    font-family: DM Mono, monospace;
    margin: 0;
    padding: 20px;
    background-image: url('../images/background 1.jpg');
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1#TRHGS {
    align-items: left;
    font-size: 60px;
    color: white;
    text-align: center;
    background-color: rgb(206, 64, 87, 0.8);
    font-weight: bold;
}

h2#TL {
    font-size: 25px;
    color: white;
    text-align: center;
    background-clip: content-box;
    background-color: rgb(206, 64, 87, 0.8);
}

nav a {
    margin-right: 25px;
    text-decoration: none;
    color: white;
    background-color: rgb(206, 64, 87, 0.8);
}

a {
    color: white;
}

nav {
    text-align: center;
}

form#searchForm.search-section {
    justify-content: center;
}

.search-section {
    margin: 20px 0;
    display: flex;
}

.search-section input {
    padding: 8px;
    width: 250px;
}

.search-section button {
    padding: 8px 12px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#results img {
    justify-content: space-evenly;
}

div#results {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    column-gap: space-evenly;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(206, 64, 87, 0.8);
    background-size: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-style: italic;
}